body {
   font-family: 'Poppins'; 
}


p {
    font-size: 20px;
}

li {
    list-style: none;
    margin-right: 25px;

}

#primero {
    font-size: 30px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.lista {
    display: flex;
}

a {
    text-decoration: none;
    color: black;
}

.titular {
    text-align: center;
    margin-top: 200px;
}

h1 {
    font-size: 60px;
    margin: 0cm;
}

h2 {
    font-size: 25px;
    margin-bottom: 40px;
}

a {
    font-size: 14px;
    background: #5cb8ff;
    padding: 20px 30px;
    color: white;

}









