body {
    font-family: 'Poppins'; 
    margin: 0;
    padding: 0;
 }
 p {
     font-size: 20px;
     /*color: white;*/
 }
 li {
     list-style: none;
     margin-right: 25px;
     /*color: white;*/
 }
 #primero {
     font-size: 30px;
 }
 .menu {
     display: flex;
     justify-content: space-between;
     align-self: center;
 }
 .lista {
     display: flex;
 }
 a {
     text-decoration: none;
     color: black;
 }
 .titular {
     text-align: center;
     margin-top: 200px;
 }
 .titular h1, .titular h2{
    color: white; 
     /*font-weight: 700;*/
 }
 h1 {
     font-size: 60px;
     margin: 0cm;
    /* color: #ffff;*/ 
 }
 h2 {
     font-size: 25px;
     margin-bottom: 40px;
     /*color: #ffff;*/
 }
 a {
     font-size: 14px;
     background: #5cb8ff;
     padding: 20px 30px;
     border-radius: 10px;
     /*color: white;*/
 }
 a:hover {
     background:  #5055df;  
     color: #fff;
     transition: 1s;
 }
 header {
   background: url('../img/desk-1920.jpg') ;  
   height: 100vh;
   background-size: cover;
 }
 .contenedor {
     max-width: 1280px;
     width: 90%;
     margin: auto;
 }
 
 /*Seccion sobre mi */
 h3 {
     text-align: center;
     font-size: 55px;
     font-weight: 700;
 }
 .contenedor-mi {
     display: flex;
     justify-content: space-around ;
     align-items: center;
 }
 .contenedor-mi img {
     width: 300px;
     height: 300px;
 }
 .contenedor-parrafo-boton {
     width: 40%;
 }
 .contenedor-parrafo-boton p {
     font-size: 18px;
 }
 .parrafo-final {
     margin-bottom: 30px;
 }
 .contenedor-servicio {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
 }
 .servicio {
     width: 23%;
     padding: 38px;
     border-radius: 10px;
     margin-bottom: 40px;
     color: #ffffff;
 }
 .violeta {
     background:  #5055df;   
 }
 .celeste {
     background:  #40a8f9; 
 }
 .servicio h4 {
     font-size: 50px 38px 50px 38px;
     margin: 0;
 }
 .servicio>i {
     font-size: 30px;
     color: #fff;
     background: #1FDE82;
     display: inline-block;
     width: 70px;
     height: 70px;
     text-align: center;
     padding-top: 20px;
     border-radius: 50%;
     box-shadow: 0 8px 32px rgba(31, 222, 130, .46);
 }
 .servicio p {
     font-size: 16px;
     height: 200px;
 }
 span {
     font-size: 80px;
     color: blue;
 }
 .owl-nav {
     text-align: center;
 }
 .contenedor-porque {
     display: flex;
     justify-content: space-around;
     text-align: center;
 }
 .contenedor-porque h4 {
     margin: 0;
     font-size: 20px;
 }
 .contenedor-porque p {
     font-size: 16px;
     line-height: 28px;
 }
 .porque-singular{
     width: 28%;
 }
 #blog {
     background: #f9fafc;
     padding-top: 50px;
     padding-bottom: 50px;
 }
 .contendor-publicaciones{
     display: flex;
     justify-content: space-around;
     /*text-align: center;*/
 }
 .publicacion {
     width: 30%;
     box-shadow: 1px 1px 14px #ccc;
     padding-bottom: 20px;
 }
 #blog img {
     width: 100%;
 }
 #blog h4 {
     font-size: 23px;
     margin: 0;
     padding: 20px 20px 20px 20px;
 }
 #blog p {
     color: #5a6169;
     line-height: 24px;
     font-size: 16px;
     padding: 10px 20px 20px 20px;
     margin: 0;
 }
 #blog a{ 
     display: inline-block;
     margin-left: 20px;
 }
 #que-esperas {
     background: linear-gradient(rgb(84,93,220), rgb(96,171,245));
     text-align: center;
     padding: 50px 0;
 }
 #que-esperas h3 {
     font-size: 23px;
     color: #fff;
     margin-bottom: 40px;
 }
 #que-esperas a{
     padding: 15px 45px;
     transition: 1s;
 }
 #que-esperas a:hover{
     color: black;
     transition: 1s;
     transform: rotate(260deg);
     display: inline-block;
 }
 #whatsapp a {
     background: none;
     position: fixed;
     top: 85%;
     right: 15px;
 }
 .menu-icon{
     display: none;
     width: 50px;
     height: 50px;
     bottom: 10px;
 }
 
 @media (max-width: 800px){
     /*Se va a licar al maximo de ancho sea de 480px*/
    nav {
     position: absolute;
     top: 70px;
     left: 0px;
     background: #5cb8ff;
     width: 100%;
     display: none;
    }
    nav .lista {
     flex-direction: column;
    }
    /*.titular h1, .titular h2{
      font-weight: 700 !important;
     }*/
     .menu-icon{
         display: block;
     }
     img.menu-icon {
         padding-top: 10px;
     }
     .titular {
         text-align: center;
         margin-top: 54px;
         color: #000000;
     }
     h1 {
         font-size: 49px;
     }
     h2 {
         font-size: 19px;
     }
     .contenedor-mi {
         flex-direction: column;
     }
     .contenedor-parrafo-boton {
         width: 90%;
     }
     .contenedor-servicio {
         flex-direction: column;
     }
     .servicio{
         width: 72%;
         margin: auto;
         margin-bottom: 15px;
     }
     h3 {
         font-size: 46px;
     }
     .contenedor-porque {
         flex-direction: column;
     }
     .porque-singular {
         width: 95%;
     }
     .contendor-publicaciones {
         flex-direction: column;
     }
     .publicacion {
         width: 85%;
         margin: auto;
     }
     .imagen-sobremi{
         width: 90%;
     }
 }
 
 @media (min-width: 700px) and (max-width: 900px){
     header {
         height: 52vh;
     }
     img.menu-icon {
         padding-right: 25px;
     }
     .imagen-sobremi {
         width: 50%;
     }
     .servicio{
         width: 44%;
     }
     .publicacion{
         width: 62%;
     }
 }
 

